<!doctype html>
<html>
<head>
    <meta charset="gb2312">
    <title>博客模板（寻梦）</title>
    <meta name="keywords" content="个人博客模板,博客模板" />
    <meta name="description" content="寻梦主题的个人博客模板，优雅、稳重、大气,低调。" />
    <link href="{{ asset('bundles/blogweb/css/base.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/blogweb/css/index.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/blogweb/js/modernizr.js') }}"></script>
    <![endif]-->
</head>