-# Little animation for my »lauftagebu.ch« — Many thanks to Timo Vogelsang who built and animated this little guy in After Effects

#running.kai.animate
  .eyes

.slide
  .stage
    .foreground-trees
    .landscape
    .behind-trees
    .behind-mountains